html {
    position: relative;
    width: auto;
    height: auto;
    background: #3d3d3d;
    border-radius: 50px;
    background-image: url('../assets/diamond\ abstract\ pattern.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 100% auto;
}

a {
    text-align: center;
}

button {
    display: block;
    margin: 40px auto;
}

.bannerMain {
    position: relative;
    width: 1150px;
    height: 500px;
    margin: 50px auto 25px;
    border: 3px solid #00000088;
    border-radius: 25px;
    box-shadow: 2px 2px 30px #000000cc;
    overflow: hidden;
    text-align: center;
}

.bannerMain img {
    position: absolute;
    width: 100%;
    right: 0px;
    top: -50px;
    transition: all 0.3s ease-in-out;
}

.banner-will-show {
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.15s;
}

.banner-will-hide {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.bannerMain:hover > img {
    width: 200%;
    right: -600px;
    top: -250px;
}

.bannerMain:hover > .banner-will-show  {
    opacity: 1;
}

.bannerMain:hover > .banner-will-hide  {
    opacity: 0;
}


.intro-container {
    width: 750px;
    height: 430px;
    margin: 0px auto 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}

.intro-container p {
    position: absolute;
    font-family: 'Avenir Book';
    font-size: 30px;
    color: #FFFFFF;
}

.intro-container h1 {
    font-family: 'Avenir Black';
    font-size: 45px;
    color: #FFFFFF;
    margin-top: 100px;
}

.intro-container h2 {
    font-family: 'Avenir Black';
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 0px;
}

.intro-container h3 {
    font-family: 'Avenir Book';
    font-size: 24px;
    color: rgb(230, 195, 82);
    margin: 0px 0px;
    padding: 10px;
    background-color: #00000044;
    border-radius: 10px;
}


.name-border {
    display:inline-block;
    color: #3d3d3d;
    border-radius: 15px;
    padding: 15px;
    background-image: linear-gradient(to bottom right, rgb(212, 163, 0), rgb(230, 195, 82));
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerSelection {
    text-align: center;
}

.mainLink {
    background-color: transparent;
    border: none;
    font-family: 'Avenir Black';
    font-size: 50pt;
    text-decoration: none;
    color: rgb(230, 195, 82);
    transition: color 0.3s ease-in-out, font-size 0.2s ease-in-out;
}

.mainLink:hover {
    color: white;
    font-size: 55pt;
}

.selectionLink {
    font-family: 'Avenir Roman';
    font-size: 25pt;
    text-decoration: none;
    color: #3d3d3d;
    background-color: rgb(212, 163, 0);
    border: 10px solid rgb(212, 163, 0);
    border-radius: 15px;
    transition: border 0.3s ease-in-out;
}

.selectionLink:hover {
    border: 20px solid rgb(212, 163, 0);
    border-radius: 20px;
}

.contactInfoMain {
    width: auto;
    height: 60px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 10px;
}

.contactInfo {
    margin: 0px auto;
    position: relative;
    display: inline-block;
}

.contactInfo a{
    text-decoration: none;
    font-family: 'Avenir Roman';
    font-size: 15pt;
    color: white;
    transition: color 0.3s ease-in-out;
}

.contactInfo a:hover {
    text-decoration: none;
    font-family: 'Avenir Roman';
    font-size: 15pt;
    color: rgb(230, 195, 82);
}

.contactInfo a img{
    border: none;
    width: 50px;
    padding: 0%;
    margin-bottom: -18px;
    margin-right: 0px;
}

.descInactiveBox {
    background-color: transparent;
    width: auto;
    height:auto;
    overflow: auto;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
}

.descInt {
    width: 800px;
    height: auto;
}

#nickname {
    position: absolute;
    font-size: 72px;
    left: 325px;
    top: 45px;
    font-family: 'Avenir Book';
    color: #FFFFFF;
    text-shadow: 2px 2px 10px #000000;
    text-align: center;
    letter-spacing: 10px;
}

#realname {
    position: absolute;
    left: 335px;
    top: 425px;
    font-family: 'Avenir Roman';
    font-size: 20px;
    color: rgb(230, 195, 82);
    border-radius: 5px;
    text-shadow: 0px 0px 5px #000000, 0px 0px 10px #000000;
    text-align: center;
    letter-spacing: 10px;
}

#descIntro {
    font-family: 'Avenir Book';
    font-size: 10pt;
    color: white;
    text-align: center;
    margin-top: -20px;
}

@font-face {
    font-family: 'Avenir Roman';
    src: url(../assets/font/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: 'Avenir Book';
    src: url(../assets/font/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: 'Avenir Black';
    src: url(../assets/font/AvenirLTStd-Black.otf);
}

@font-face {
    font-family: 'ElRon Monospace';
    src: url('../assets/font/Elronmonospace.ttf');
}