html {
    position: relative;
    height: auto;
    width: auto;
    background-color: #3d3d3d;
    background-image: url('../assets/diamond\ abstract\ pattern.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% auto;
}

img {
    width: 400px;
    border: 5px solid rgb(212, 163, 0);
    padding: 5px;
    margin: 30px;
    border-radius: 15%;
}

.headContainer {
    background-color: #00000044;
    margin: 20px -8px;
    display: block;
    text-align: center;
}

.headContainer a{
    position: relative;
    display: inline-block;
    font-family: 'Avenir Roman';
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 14px 50px;
    margin: 0px -2px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.headContainer a:hover {
    background-color: rgb(226, 201, 118);
    color: #3d3d3d;
}

.headContainer a.active {
    background-color: rgb(212, 163, 0);
    color:#3d3d3d;
}

.headLine {
    
    background-color: rgb(212, 163, 0);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    border: none;
}

.centerText {
    text-align: center;
}

.titleExpand {
    font-family: 'Avenir Roman';
    font-size: 45px;
    color: #E2C976;
    background-color: transparent;
    margin-bottom: 40px;
    border: none;
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.titleExpand:hover {
    color: white;
    font-size: 55px;
}

.centerText h2 {
    font-family: 'Avenir Black';
    font-size: 35px;
    color:rgb(212, 163, 0)
}

.centerText h3 {
    font-family: 'Avenir Book';
    font-size: 27px;
    color:rgb(255, 255, 255);
    letter-spacing: 1px;
}

.bulletDetails {
    font-family: 'Avenir Book';
    font-size: 20px;
    color:rgb(255, 255, 255);
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centerText div{
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@font-face {
    font-family: 'Avenir Roman';
    src: url(../assets/font/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: 'Avenir Book';
    src: url(../assets/font/AvenirLTStd-Book.otf);
}

@font-face {
    font-family: 'Avenir Black';
    src: url(../assets/font/AvenirLTStd-Black.otf);
}